node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
dump.md
.env
.env.local
.env.*.local
.vscode
.idea
*.log
coverage    
.next
.local
.replit
12
23
.pnp.*
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.cache
.nuxt
output
build
*.localhistory
*.swp
*~